body {
    background-color: #FFF9DE;
}

.container {
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FF6969;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #FF6969;
}

p {
    font-size: 1.2rem;
    color: #FF6969;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.logo-image {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    /* Adjust the desired maximum width */
    max-height: 70px;
    /* Adjust the desired maximum height */
    width: 150px;
    height: auto;
}

.nav-color{
    background-color: #FFD3B0;
    border-color: #526D82;
}

.btn-color{
    background-color: #FF6969;
}
.btn-color-2{
    background-color: #FFD3B0;
}

.color{
    color: #FF6969;
}
.color-2{
    color: #FFD3B0;
}
