/* body {
    background-color: #FFF9DE;
} */

/* gradient-custom { */
/* fallback for old browsers */
/* background: #6a11cb; */

/* Chrome 10-25, Safari 5.1-6 */
/* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
} */
/* .color-1{
    background-color: #FF6969;
}
.color-2{
    background-color: #FFD3B0;
}
.color-3{
    background-color: #FFF9DE;
}
.color-4{
    background-color: #A6D0DD;
} */
body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* Add this line to remove overflow and prevent scrolling */
    background-color: FF6969;
}

.container {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    background-color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    max-width: 200px;
    height: auto;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.bottom {
    margin-top: 20px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}